<!-- <md-card class="bgc"><h2>Campus Recruitment System</h2>
  <div class="box"><a  routerLink="/student" >StudentLogin</a>
    <a  routerLink="/company" >CompanyLogin</a>
  <a routerLink="/admin" >AdminLogin</a>
 <a routerLink="/signup" >SignUp</a></div>
</md-card> 


<md-card class="example-card "><h1 class="heading">Company Login</h1>
  <div class="int">
<md-input-container>
  <input  [(ngModel)] = "email" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"   mdInput placeholder="Email Address">
</md-input-container>
  </div>

   <div class="int">
<md-input-container>
  <input [(ngModel)] = "password"  mdInput placeholder="Password" type="password">
</md-input-container>
  </div>
<div style="text-align:center;">
<button  [disabled]="!email || !password"   (click) = "Companylogin()" class="btn" md-button>Sign In</button></div>
</md-card> -->