<md-card class="example-card">
  <div><a class="Link" routerLink="/ASV">Student View</a>
   <a class="Link" routerLink="/ACV">Company View</a>
   <a class="Link" routerLink="/AJV">Job View</a>
   <a class="Link" routerLink="/applicant">Applicant</a>
   <a class="Link" routerLink="/userview">User View</a>
   <!-- <a class="Link" routerLink="/applicant">Applicants</a> -->
   </div>
   </md-card>
   <h1>Your Company Profile</h1>
   <table>
     <tr>
       <th>Name</th>
       <th>Email</th>
       <th>Address</th>
       <th>Contact</th>
       <th>Delete</th>
     </tr>
     <tr *ngFor = "let data of tableview; let i = index">
       <td>{{data.name}}</td>
       <td>{{data.email}}</td>
       <td>{{data.address}}</td>
       <td>{{data.contact}}</td>
       <td><button class="btn" (click)="delete(i)" md-raised-button color="accent">Delete</button></td>
     </tr>
   </table>