/* .example-card {
  background-color: #483d8b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.para {
    float: right;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.para-1 {
   margin-left: 200px;
   margin-top: -20px;
   cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;
}

.para-2 {
   margin-left: 323px;
   margin-top: -36px;
   cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;
}

.Link {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

/* .btn {
    background-color: #21B6A8;
    color: white;
} */

/* .Link-1 {
    color: white;
    text-decoration: none;
    float: right;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.para-3 {
   margin-left: 460px;
   margin-top: -37px;
   cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;
}

.link {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
} */
  /* table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even){background-color: #f2f2f2}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;

} */

/* th {
        background-color: #333333;
    color: white;
} */

 /* tr:hover{background-color:#f5f5f5}  */

/* h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #483d8b;
    font-family: Arial, Helvetica, sans-serif;
}  

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}



th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
    color: #483d8b;
} */

 
