<!-- <md-card class="example-card">

<div><a class="Link" routerLink="/student-data">Student Data</a>
<a class="Link" routerLink="/student-profile">Student Profile</a>
<a class="Link" routerLink="/company-view">Company View</a>
<a class="Link" routerLink="/viewjob">View Job</a>
</div>
</md-card>
<h1>Your Profile Detail</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Program</th>
    <th>Semester</th>
    <th>Gpa</th>
    <th>Phone</th>
  </tr>
  <tr *ngFor = "let data of tableview">
    <td>{{data.name}}</td>
    <td>{{data.program}}</td>
    <td>{{data.semester}}</td>
    <td>{{data.gpa}}</td>
    <td>{{data.phone}}</td>
  </tr>
</table> -->


<!-- <button class="btn"  (click)="studentView()" md-button>View</button> -->

