 <!-- <md-card class="bgc"><h1>Campus Recruitment System</h1></md-card> -->
     <!-- <app-student></app-student>                     -->
           <router-outlet></router-outlet>                                                                                                       
          <!-- <app-auth></app-auth>       -->
                  <!-- <app-sign-up></app-sign-up>                   -->
    <!-- <app-company></app-company>     -->
    <!-- <app-admin-login></app-admin-login>     -->
  <!-- <app-student-list></app-student-list> -->
                <!-- <app-studentdashboard></app-studentdashboard>               -->
             <!-- <app-studentprofile></app-studentprofile>          -->
                            <!-- <app-studentdata></app-studentdata>                     -->
                <!-- <app-companyview></app-companyview>      -->
                 <!-- <app-companyprofile></app-companyprofile>   -->
               <!-- <app-companydata></app-companydata>   -->
                 <!-- <app-studentview></app-studentview>    -->
                 <!-- <app-companydashboard></app-companydashboard> -->
                 <!-- <app-admindashboard></app-admindashboard> -->
                <!-- <app-applicant></app-applicant>  -->
                 <!-- <app-adminstudentview></app-adminstudentview> -->
                 <!-- <app-admincompanyview></app-admincompanyview> -->
                 <!-- <app-postjob></app-postjob> -->
                <!-- <app-viewpost><app-viewpost> -->
                  <!-- <app-viewjob></app-viewjob> -->
                  <!-- <app-adminjobview></app-adminjobview> -->
                  <!-- <app-applicant></app-applicant> -->
<!-- <app-userview></app-userview> -->