<md-card class="example-card"><h1>Company Dashboard</h1>
<!-- <div class="btn"><button (click) = "logOut()" md-button>LogOut</button></div> -->
<a class="Link" routerLink="/company-data">Company Data</a>
<!-- <a class="Link" routerLink="/company-profile">Company Profile</a> -->
<a class="Link" routerLink="/student-view">Student View</a>
<a class="Link" routerLink="/postjob">Post Job</a>
<a class="Link" routerLink="/viewpost">View Post</a>
<a class="Link-1" (click) = "logOut()"><img src="assets/Images/User.png"> LogOut</a>
</md-card>